/* styles.css */

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #e0e0e0; /* Set your desired background color */
}

#container {
    text-align: center;
}

#image {
    max-width: 500px;
    max-height: 700px;  
    border: 1px solid #ccc; /* Optional: Add a border to the image */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow to the image */
}
